In [52]:
import pandas as pd
import numpy as np
import itertools

In [60]:
df = pd.DataFrame({'user': np.random.choice(list(range(1,8)), size=20), 'movie': np.random.choice(list(range(1,4)), size=20), 'rating': np.random.choice([1, 2, 3, 4, 5, np.nan], size=20)})

subset = df[['user', 'movie', 'rating']]
review_tuples = [tuple(x) for x in subset.values]

unique_reviews = set(review_tuples)
set_100 = list(set(itertools.islice(unique_reviews, 10)))

df = pd.DataFrame(set_100, columns=['user', 'movie', 'rating'])
df

   user  movie  rating
0   6.0    2.0     5.0
1   3.0    2.0     NaN
2   4.0    3.0     1.0
3   1.0    3.0     2.0
4   7.0    3.0     1.0
5   2.0    1.0     1.0
6   7.0    2.0     3.0
7   4.0    3.0     2.0
8   4.0    1.0     NaN
9   6.0    2.0     1.0

In [64]:
sigma = .1
noisemovies = np.random.normal(0, sigma, 3)
noisemovies

array([0.19543537, 0.14268772, 0.02935383])

In [69]:
MSum = df.groupby('movie').sum()["rating"].fillna(0)
MSum

movie
1.0    1.0
2.0    9.0
3.0    6.0
Name: rating, dtype: float64

In [56]:
noise = 0
GSum = df["rating"].agg(['count'])
GSum

count    9
Name: rating, dtype: int64

In [57]:
MCnt = df.groupby('user').agg(['count'])['rating']
MCnt

      count
user
1.0       2
3.0       0
4.0       1
5.0       3
6.0       2
7.0       1