In [1]:
import pandas as pd
import numpy as np

import itertools

**Using feather file rather than txt files**

In [2]:
df = pd.read_feather('../ratings.fth')
df.shape

(100480507, 3)

In [3]:
df.describe()

              movie          user        rating
count  1.004805e+08  1.004805e+08  1.004805e+08
mean   9.070915e+03  1.322489e+06  3.604290e+00
std    5.131891e+03  7.645368e+05  1.085219e+00
min    1.000000e+00  6.000000e+00  1.000000e+00
25%    4.677000e+03  6.611980e+05  3.000000e+00
50%    9.051000e+03  1.319012e+06  4.000000e+00
75%    1.363500e+04  1.984455e+06  4.000000e+00
max    1.777000e+04  2.649429e+06  5.000000e+00

In [4]:
# df = df.pivot(index='user', columns='movie', values='rating')
# df

In [5]:
# df.fillna(0, inplace=True)
# df

In [6]:
# R = np.array(df)
# R.shape

In [7]:
df

           movie     user  rating
0              1  1488844       3
1              1   822109       5
2              1   885013       4
3              1    30878       4
4              1   823519       3
5              1   893988       3
6              1   124105       4
7              1  1248029       3
8              1  1842128       4
9              1  2238063       3
10             1  1503895       4
11             1  2207774       5
12             1  2590061       3
13             1     2442       3
14             1   543865       4
15             1  1209119       4
16             1   804919       4
17             1  1086807       3
18             1  1711859       4
19             1   372233       5
20             1  1080361       3
21             1  1245640       3
22             1   558634       4
23             1  2165002       4
24             1  1181550       3
25             1  1227322       4
26             1   427928       4
27             1   814701       5
28             1   808731       4
29             1   662870       5
...          ...      ...     ...
100480477  17770  1882093       3
100480478  17770   789449       2
100480479  17770   737905       3
100480480  17770   834423       3
100480481  17770   892826       2
100480482  17770  2142868       4
100480483  17770   953604       3
100480484  17770  2331946       1
100480485  17770  1205647       3
100480486  17770   357707       3
100480487  17770  1933317       3
100480488  17770   982006       3
100480489  17770   111084       2
100480490  17770   635735       4
100480491  17770  2167041       4
100480492  17770   925414       4
100480493  17770  1983962       2
100480494  17770   897629       3
100480495  17770  1274035       4
100480496  17770  2641559       3
100480497  17770   834323       2
100480498  17770   516110       5
100480499  17770   365996       3
100480500  17770   986348       4
100480501  17770   311124       3
100480502  17770  1790158       4
100480503  17770  1608708       3
100480504  17770   234275       1
100480505  17770   255278       4
100480506  17770   453585       2

[100480507 rows x 3 columns]

In [8]:
# Randomly sample elements from the dataframe

# df_sample = df.sample(n=100)
# df = df_sample

In [9]:
# df.fillna(0, inplace=True)
# df

**Creating a dummy small dataframe to implement formulas**

In [10]:
# df = pd.DataFrame({'user': np.random.choice(list(range(1,49)), size=150), 'movie': np.random.choice(list(range(1,18)), size=150), 'rating': np.random.choice([1, 2, 3, 4, 5, np.nan], size=150)})

# subset = df[['user', 'movie', 'rating']]
# review_tuples = [tuple(x) for x in subset.values]

# unique_reviews = set(review_tuples)
# set_100 = list(set(itertools.islice(unique_reviews, 100)))

# df = pd.DataFrame(set_100, columns=['user', 'movie', 'rating'])
# df

### Section 4.2 on Paper

**Global Effects**   
We start with a few global effects that are easy to mea- sure and publish accurately without incurring substantial privacy cost. We first measure and publish the number of ratings present for each movie, and the sum or ratings for each movie, with random noise added for privacy.   
We use these to derive a global average, G = GSum/GCnt

In [11]:
noise = 0
GSum = sum(df["rating"].fillna(0)) + noise
GCnt = df["rating"].agg(['count']) + noise
G = GSum/GCnt
G

count    3.60429
Name: rating, dtype: float64

**Movie Effects**

In [12]:
number_of_movies = len(pd.Series(df["movie"].values.ravel()).unique())
number_of_users = len(pd.Series(df["user"].values.ravel()).unique())
print("Number of Movies: ", number_of_movies)
print("Number of Users: ", number_of_users)

Number of Movies:  17770
Number of Users:  480189

Next, we sum and count the number of ratings for each movie, using d dimensional vector sums.

In [13]:
# Generate vectors of noise for each movie
sigma = .1
noisemovies = np.random.normal(0, sigma, number_of_movies)
noisemovies

array([-0.05089098,  0.03471242,  0.05586272, ...,  0.11665861,
        0.13388247,  0.02741122])

In [14]:
# number of fictitious ratings to introduce in the movie average calculation
betam = 15.0 
# number of fictitious ratings to introduce in the user average calculation
betap = 20.0
# bound of the interval that clam the resulted centered rating, to limit sensitivity 
B = 1.0

We produce a stabilized per-movie average rating by intro-
ducing βm fictitious ratings at value G for each movie

In [15]:
MSum = df.groupby('movie').sum()["rating"] + noisemovies
MCnt = df.groupby('movie').agg(['count'])["rating"]
MCnt = MCnt.iloc[:, 0] + noisemovies
Mavg = (MSum + float(betam*G))/(MCnt + betam)
Mavg

movie
1        3.745915
2        3.562346
3        3.640808
4        2.821646
5        3.915160
6        3.091794
7        2.334434
8        3.190216
9        2.756785
10       3.203643
11       3.070972
12       3.422736
13       4.450840
14       3.089948
15       3.301692
16       3.101283
17       2.904670
18       3.784111
19       3.332156
20       3.196835
21       3.473029
22       2.338331
23       3.557712
24       3.001058
25       3.965972
26       2.795827
27       3.530695
28       3.823166
29       3.599010
30       3.761825
           ...
17741    3.289195
17742    2.822067
17743    3.106113
17744    3.517708
17745    3.830095
17746    3.338709
17747    3.528086
17748    3.803953
17749    3.506663
17750    2.970259
17751    3.936013
17752    3.004666
17753    2.566486
17754    3.255211
17755    3.213554
17756    3.770158
17757    3.793734
17758    2.918661
17759    2.735091
17760    2.834166
17761    2.920802
17762    3.645717
17763    3.413268
17764    3.867054
17765    2.741103
17766    3.203646
17767    3.667097
17768    2.847385
17769    2.501015
17770    2.829075
Length: 17770, dtype: float64

In [16]:
Mavg = pd.DataFrame(Mavg , columns = ['avg_rating'] )
Mavg.reset_index(inplace = True)
Mavg.set_index(['movie'])
del MCnt,MSum

With these averages now released, they can be incorpo- rated arbitrarily into subsequent computation with no ad- ditional privacy cost. In particular, we can subtract the corresponding averages from the every rating to remove the per-movie global effects.

In [17]:
Mavg

       movie  avg_rating
0          1    3.745915
1          2    3.562346
2          3    3.640808
3          4    2.821646
4          5    3.915160
5          6    3.091794
6          7    2.334434
7          8    3.190216
8          9    2.756785
9         10    3.203643
10        11    3.070972
11        12    3.422736
12        13    4.450840
13        14    3.089948
14        15    3.301692
15        16    3.101283
16        17    2.904670
17        18    3.784111
18        19    3.332156
19        20    3.196835
20        21    3.473029
21        22    2.338331
22        23    3.557712
23        24    3.001058
24        25    3.965972
25        26    2.795827
26        27    3.530695
27        28    3.823166
28        29    3.599010
29        30    3.761825
...      ...         ...
17740  17741    3.289195
17741  17742    2.822067
17742  17743    3.106113
17743  17744    3.517708
17744  17745    3.830095
17745  17746    3.338709
17746  17747    3.528086
17747  17748    3.803953
17748  17749    3.506663
17749  17750    2.970259
17750  17751    3.936013
17751  17752    3.004666
17752  17753    2.566486
17753  17754    3.255211
17754  17755    3.213554
17755  17756    3.770158
17756  17757    3.793734
17757  17758    2.918661
17758  17759    2.735091
17759  17760    2.834166
17760  17761    2.920802
17761  17762    3.645717
17762  17763    3.413268
17763  17764    3.867054
17764  17765    2.741103
17765  17766    3.203646
17766  17767    3.667097
17767  17768    2.847385
17768  17769    2.501015
17769  17770    2.829075

[17770 rows x 2 columns]

### Section 4.3 on Paper

**User Effects**   
Having published the average rating for each movie, we will subtract these averages from each rating before contin- uing. We then center the ratings for each user, taking an average again with a number βp of fictitious ratings at the recomputed global average